
*.lock

Compare the Triplets/\.vs/Compare the Triplets/v15/

Compare the Triplets/Compare the Triplets/obj/

A Very Big Sum/\.vs/A Very Big Sum/v15/

A Very Big Sum/A Very Big Sum/obj/

Simple Array Sum/\.vs/Simple Array Sum/v15/

Simple Array Sum/Simple Array Sum/obj/

Compare the Triplets/\.vs/Compare the Triplets/DesignTimeBuild/\.dtbcache

Diagonal Difference/\.vs/Diagonal Difference/v15/

Diagonal Difference/Diagonal Difference/bin/Debug/netcoreapp2\.1/

Diagonal Difference/Diagonal Difference/obj/Debug/netcoreapp2\.1/

Diagonal Difference/Diagonal Difference/obj/

A Very Big Sum/\.vs/A Very Big Sum/DesignTimeBuild/\.dtbcache
